* {
	font-family: "Calibri";
}

QMainWindow {
	min-width: 910px;
	max-width: 910px;
	min-height: 660px;
	max-height: 660px;
}

#central-widget {
	padding-top: 20px;
}
/*//////////////         BAR WIDGET       ////////////////////*/

#bar-widget {
	background-color: #34495E;
	padding-top: 20px;
}

#cockpit-owner {
	margin-top: 0px;
	background-color: #dcdcdc;
}

QPushButton#bar-button {
	background-color: #34495E;
	
	text-align: left;
	color: #91A3A3;
	
	border: none;
	
	padding: 13px;
	padding-right: 25px;
	padding-left: 40px;
	
	font-size: 12pt;
}

QPushButton#bar-button:open {
	background-color: #233342;
	color: #2DCC70;
	border-top: 1px solid #151f28;
	
	border-left: 5px solid #2DCC70;
	padding-left: 35px;
	padding-top: 12px;
}

#logo {
	padding: 25px;
	padding-left: 50px;
	/*min-height: 45px;*/
	background: #233342;
	
	color: #2DCC70;
	
	font-size: 26px;
	border-bottom: 1px solid #233342;
}
/*//////////////////////////////////*/

/*//////////////         COCKPIT TOP WIDGET       ////////////////////*/

#topPanelWidget {
	background-color: #34495E;
	
	min-height: 81px;
	max-height: 81px;
	
	border-top: 2px solid #34495E;
	border-left: 1px solid #34495E;
}

#channelLabel {
	color: #e0e0e0;
	font-size: 36px;
	
	/*padding: 19px;*/
	padding-left: 50px;
}

#settingsCommentLabel {
	color: #91A3A3;
	/*font-weight: bold;*/
	
	padding-left: 100px;
}

#hideExpandSettingsButton {
	color: #91A3A3;
	/*border: 1px solid #a0a0a0;*/
	border-radius: 3px;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
	/*font-weight: bold;*/
	border: 1px solid #91A3A3;
	
}
#hideExpandSettingsButton:hover {
	/*background-color: #82e3ab;*/
	color: #f5f5f5;
	border: 1px solid #f5f5f5;
}

#hideExpandSettingsButton:pressed  {
	background: #233342;
	border: 1px solid #151f28;
	border-bottom: 1px solid #233342;
	border-right: 1px solid #233342;
}

/*//////////////////////////////////*/

/*//////////////         COCKPIT BOTTOM WIDGET       ////////////////////*/

#bottomPanelWidget {
	border-left: 1px solid #909090;
}
#realTimeValues, #runControl {
	color: #3D414A;
	font-weight: bold;
	font-size: 16px;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	margin: 20px;
	
	
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	background-color: #fafafa;
	
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
}

#realTimeValues {
	margin-right: 10px;
}

#runControl {
	margin-left: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

#realTimeValues > *, #runControl > * {
	color: #a0a0a0;
	font-size: 14px;
}

#realTimeValues::title, #runControl::title {
	padding-top: 10px;
	padding-left: 10px;
	
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-top-left-radius: 5px;
}

#realTimeValues > QLineEdit {
	color: #3D414A;
	
	border: 1px solid #909090;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-radius: 3px;
	background: #ffffff;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #34495E;
}

#realTimeValues > QLineEdit:focus {
	color: #3D414A;
	border: 1px solid #3D414A;
}

#realTimeValues > QLabel {
	margin-left: 2px;
}

#startStopButton {
	color: #a0a0a0;
	border-radius: 3px;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
	
	border: 1px solid #a0a0a0;
}
#startStopButton:hover {
	color: #3D414A;
	border: 1px solid #3D414A;
}

#startStopButton:pressed  {
	/*color: #ffffff;*/
	background-color: #dcdcdc;
	border: 1px solid #d0d0d0;
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
}
/*
#startStopButton:pressed  {
	color: #ffffff;
	background-color: #2DCC70;
	border: 1px solid #2DCC70;
	border-top: 1px solid #1e8841;
	border-left: 1px solid #1e8841;
}
*/

/*//////////////////////////////////*/

/*//////////////         COCKPIT SETTINGS WIDGET       ////////////////////*/


#selectChannel, #operatingConditions,
#commonSettings, #advancedSettings {
	color: #3D414A;
	font-weight: bold;
	font-size: 16px;
	font-style: underline;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	border-radius: 5px;
	
	margin: 20px;
	
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	background-color: #fafafa;
	
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
}
#selectChannel, #operatingConditions {
	margin-bottom: 0px;
}

#selectChannel, #commonSettings {
	margin-right: 0px;
}


#selectChannel::title, #operatingConditions::title,
#commonSettings::title, #advancedSettings::title {
	subcontrol-origin: margin;

	margin-top: 20px;
	margin-left: 20px;
	
	border-top-left-radius: 5px;
	
	padding-top: 10px;
	padding-left: 10px;
	
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-top-left-radius: 5px;
}

#selectChannel > *, #operatingConditions > *,
#commonSettings > *, #advancedSettings > * {
	color: #a0a0a0;
	font-size: 14px;
}

#operatingConditions > QComboBox,
#selectChannel > QComboBox {
	color: #3D414A;
	background: #ffffff;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	
	padding: 4px 1px 4px 25px;
}

#operatingConditions > QComboBox:hover,
#selectChannel > QComboBox:hover {
	border: 1px solid #3D414A;
}
/*
#operatingConditions > QComboBox:open,
#selectChannel > QComboBox:open {
	background-color: #ffffff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*/

#operatingConditions > QComboBox::drop-down,
#selectChannel > QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;

	border: none;
}

#operatingConditions > QComboBox::down-arrow,
#selectChannel > QComboBox::down-arrow {
    image: url(:/GUI/_res/combobox-dropdown.png);
	
	margin-right: 25px;
}

#operatingConditionsComboList,
#currentRangeComboList,
#selectChannelComboList {
    border: 1px solid #3D414A;
	color: #3D414A;
	background: #ffffff;
	outline: 0;
}

#operatingConditionsComboList::item,
#currentRangeComboList::item,
#selectChannelComboList::item {
	border: 0px;
	padding: 5px;
	padding-left: 20px;
	color: #3D414A;
}

#operatingConditionsComboList::item:selected,
#currentRangeComboList::item:selected,
#selectChannelComboList::item:selected {
	margin-left: 1px;
	border-left: 5px solid #34495E;
	
	padding-left: 14px;
}

#selectChannel > QLabel, #operatingConditions > QLabel,
#commonSettings > QLabel, #advancedSettings > QLabel {
	margin-left: 2px;
}

#selectChannel > QLineEdit, #operatingConditions > QLineEdit,
#commonSettings > QLineEdit, #advancedSettings > QLineEdit {
	color: #3D414A;
	
	border: 1px solid #909090;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-radius: 3px;
	background: #ffffff;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #34495E;
}

#selectChannel > QLineEdit:focus ,
#operatingConditions > QLineEdit:focus ,
#commonSettings > QLineEdit:focus ,
#advancedSettings > QLineEdit:focus  {
	border: 1px solid #3D414A;
}

#commonSettings >  QPushButton,
#advancedSettings > QPushButton {
	color: #a0a0a0;
	border-radius: 3px;
	
	padding: 5px;
	
	border: 1px solid #a0a0a0;
}


#commonSettings > QPushButton:hover,
#advancedSettings > QPushButton:hover {
	color: #3D414A;
	border: 1px solid #3D414A;
}

#commonSettings > QPushButton:open,
#advancedSettings > QPushButton:open {
	color: #3D414A;
	background-color: #dcdcdc;
	border: 1px solid #d0d0d0;
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
}

/*//////////////////////////////////*/

/**/
#plotWidget {
	border-left: 1px solid #707070;
}

QwtPlot {
	margin: 20px 20px 0px 20px;
	
	border: 1px solid #d0d0d0;
	background-color: #fafafa;
	border-radius: 5px;
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
	
	padding: 10px;
}

QwtPlotCanvas {
	border: none;
    background-color: #fafafa;
}

QwtPlotGLCanvas {
	border: none;
    background-color: #fafafa;
}

QwtScaleWidget {
    color: #91A3A3;
}

QwtTextLabel#QwtPlotTitle {
    color: #000000;
}

QwtTextLabel#QwtPlotFooter {
    color: #000000;
}

QwtLegend {
	border: none;
    padding: 2px;
    background: #91A3A3;
}

QwtLegendLabel {
    color: #000000;
}
/*//////////////////////////////////*/
#settingsPanelWidget {
	border-left: 1px solid #606060;
}
#topPanelWidget {
	border-bottom: 1px solid #606060;
}

#plotWidget {
	border-left: 1px solid #606060;
}

#bottomPanelWidget {
	border-left: 1px solid #606060;
}