* {
	font-family: "Calibri";
}

QMainWindow {
	min-width: 910px;
	max-width: 910px;
	min-height: 660px;
	max-height: 660px;
}

#central-widget {
	padding-top: 20px;
}
/*//////////////         BAR WIDGET       ////////////////////*/

#bar-widget {
	background-color: #222222;
	padding-top: 20px;
}

#cockpit-owner {
	margin-top: 0px;
	background-color: #f5f5f5;
}

QPushButton#bar-button {
	background-color: #222222;
	
	text-align: left;
	color: #f5f5f5;
	
	border: none;
	/*
	border-right: 1px solid #191919;
	border-left: 1px solid #191919;
	border-top: 0px;
	border-bottom:  1px solid #191919;
	*/
	
	padding: 13px;
	padding-right: 20px;
	padding-left: 40px;
	
	font-size: 12pt;
}

QPushButton#bar-button:open {
	background-color: #E8464D;
}

#logo {
	padding: 25px;
	padding-left: 50px;
	/*min-height: 45px;*/
	
	color: #f5f5f5;
	
	font-size: 26px;
}
/*//////////////////////////////////*/

/*//////////////         COCKPIT TOP WIDGET       ////////////////////*/

#topPanelWidget {
	background-color: #E8464D;
	
	min-height: 82px;
	max-height: 82px;
}

#channelLabel {
	color: #f5f5f5;
	font-size: 36px;
	
	/*padding: 19px;*/
	padding-left: 50px;
}

#settingsCommentLabel {
	color: #f5f5f5;
	
	padding-left: 100px;
}

#hideExpandSettingsButton {
	color: #f5f5f5;
	border: 2px solid #f5f5f5;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
}

/*//////////////////////////////////*/

/*//////////////         COCKPIT BOTTOM WIDGET       ////////////////////*/

#realTimeValues, #runControl {
	color: #f5f5f5;
	font-weight: bold;
	font-size: 16px;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	margin: 20px;
	background: #2280B3;
	
	border: none;
}

#realTimeValues {
	margin-right: 10px;
}

#runControl {
	margin-left: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

#realTimeValues::title, #runControl::title {
	margin-top: 10px;
	margin-left: 10px;
}

#realTimeValues > *, #runControl > * {
	color: #f5f5f5;
	font-size: 14px;
}

#realTimeValues > QLineEdit {
	color: #f5f5f5;
	font-size: 16px;
	
	border: 1px solid #f5f5f5;
	background: #2280B3;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #E8464D;
}


#realTimeValues > QLabel {
	margin-left: 2px;
}

#startStopButton {
	color: #f5f5f5;
	border: 2px solid #f5f5f5;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
}

/*//////////////////////////////////*/

/*//////////////         COCKPIT SETTINGS WIDGET       ////////////////////*/

#selectChannel, #operatingConditions,
#commonSettings, #advancedSettings {
	color: #f5f5f5;
	font-weight: bold;
	font-size: 16px;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	margin: 20px;
	background: #2280B3;
	
	border: none;
}
#selectChannel, #operatingConditions {
	margin-bottom: 0px;
}

#selectChannel, #commonSettings {
	margin-right: 0px;
}


#selectChannel::title, #operatingConditions::title,
#commonSettings::title, #advancedSettings::title {
	margin-top: 10px;
	margin-left: 10px;
}

#selectChannel > *, #operatingConditions > *,
#commonSettings > *, #advancedSettings > * {
	color: #f5f5f5;
	font-size: 14px;
}

#selectChannel > QLabel, #operatingConditions > QLabel,
#commonSettings > QLabel, #advancedSettings > QLabel {
	margin-left: 2px;
}


#selectChannel > QLineEdit, #operatingConditions > QLineEdit,
#commonSettings > QLineEdit, #advancedSettings > QLineEdit {
	color: #f5f5f5;
	font-size: 16px;
	
	border: 1px solid #f5f5f5;
	background: #2280B3;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #E8464D;
}

#commonSettings >  QPushButton,
#advancedSettings > QPushButton {
	color: #f5f5f5;
	border: 2px solid #f5f5f5;
	padding: 5px;
}

#commonSettings > QPushButton:open,
#advancedSettings > QPushButton:open {
	background-color: #E8464D;
	border: 1px solid #f5f5f5;
}

#operatingConditions > QComboBox,
#selectChannel > QComboBox {
	background: #2280B3;
	
	border: 1px solid #f5f5f5;
	
	padding: 4px 1px 4px 25px;
}
#operatingConditions > QComboBox::drop-down,
#selectChannel > QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;

	border: none;
}
/*
#selectChannel > QComboBox::down-arrow {
    image: url(:/_res/combobox-dropdown.png);
}
*/
#operatingConditions > QComboBox::on,
#selectChannel > QComboBox:on {
	selection-background-color: rgb(26, 188, 156);
	selection-color: #ffffff;
}
#operatingConditions > QComboBox::!on,
#selectChannel > QComboBox:!on {
	selection-background-color: rgb(26, 188, 156);
	selection-color: #ffffff;
}

/*//////////////////////////////////*/

/**/
QwtPlot {
	margin: 20px 20px 0px 20px;
}

QwtPlotCanvas {
	border: none;
    background-color: #f5f5f5;
}

QwtPlotGLCanvas {
	border: none;
    background-color: #f5f5f5;
}

QwtScaleWidget {
    color: #999999;
}

QwtTextLabel#QwtPlotTitle {
    color: #000000;
}

QwtTextLabel#QwtPlotFooter {
    color: #000000;
}

QwtLegend {
	border: none;
    padding: 2px;
    background: #f5f5f5;
}

QwtLegendLabel {
    color: #000000;
}
/*/
QwtPlot
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #657383, stop: 0.4 #8395AA, stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #657383, stop: 1 #8395AA );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8395AA, stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8395AA, stop: 0.4 #657383 stop: 1 #8395AA );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #657383 stop: 1 #7C8DA0 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #657383, stop: 0.25 #7C8DA0 stop: 0.55 #7C8DA0 stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8FA3B9, stop: 0.25 #7C8DA0 stop: 0.55 #7C8DA0 stop: 1 #8FA3B9 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #8FA3B9 stop: 0.55 #8FA3B9 stop: 1 #7C8DA0 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #8395AA stop: 0.55 #8395AA stop: 1 #7C8DA0 );
}

QwtPlotCanvas
{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #616d7e;
}

QwtPlotGLCanvas
{
    border: 1px solid white;
    background-color: #616d7e;
}

QwtScaleWidget
{
    color: white;
}

QwtTextLabel#QwtPlotTitle
{
    color: white;
}

QwtTextLabel#QwtPlotFooter
{
    color: white;
}

QwtLegend
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    background: #616d7e;
}

QwtLegendLabel
{
    color: white;
}
 */
 