[submodule "_firmware"]
	path = _firmware
	url = https://github.com/mdion1/Squidstat_firmware_2017_04_13.git
	branch = master
[submodule "_hwemulator"]
	path = _hwemulator
	url = https://github.com/mdion1/Hardware_emulator.git
	branch = master
