[Dd]ebug*/
[Rr]elease*/
build-*/
*.DS_Store
*.user
_out
out/
Build
.vs/
*.db
*.opendb
moc/
*.obj
UpgradeLog.htm
GeneratedFiles/
src/SquidStat/SquidStat/prebuilt/*
src/SquidStat/SquidStat/elements/*
src/SquidStat/SquidStat/custom/*
src/SquidStat/SquidStat/ExperimentValues.ini
src/SquidStat/SquidStat/SquidStatParameters.ini
data.7z