* {
	font-family: "Segoe UI";
	font-size: 14px;
	color: #1d1d1d;
}

QMainWindow {
	min-width: 1366px;
	min-height: 768px;
	/*max-width: 1366px;
	max-height: 768px;*/
}

QWidget {
	background-color: #ffffff;
	qproperty-contextMenuPolicy: NoContextMenu;
}
QAbstractSpinBox,
QLineEdit, QComboBox {
	border: 1px solid #c6ccd2;
	min-height: 30px;
	margin-top: 20px;
	padding-left: 15px;
}
QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    image: url(:/GUI/Resources/spin-box-up.png);
	margin: 1px;
	margin-right: 6px;
	margin-top: 2px;
}
QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */

    image: url(:/GUI/Resources/combobox-dropdown.png);
	margin: 1px;
	margin-bottom: 2px;
	margin-right: 5px;
}
QComboBox {
	padding-right: 20px;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;

	border: none;
}
QComboBox::down-arrow {
    image: url(:/GUI/Resources/combobox-dropdown.png);
	
	margin-right: 25px;
}
#combo-list {
    border: 1px solid #c6ccd2;
	background: #ffffff;
	outline: 0;
}
#combo-list::item {
	border: none;
	padding: 5px;
	padding-left: 10px;
}
#combo-list::item:selected {
	background-color: #ffbec0;
	color: #7b1a1e;
}
QRadioButton {
	border: none;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 17px;
}
QRadioButton::indicator::unchecked {
    image: url(:/GUI/Resources/radio-clear.png);
}
QRadioButton::indicator::checked {
    image: url(:/GUI/Resources/radio-selected.png);
}
QLabel {
	margin-top: 16px;
}
/*//////////////         APPLY BUTTON       ////////////////////*/
#apply-button {
	background-color: #7b1a1e;
	border: none;

	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
	color: #ffffff;
}
#apply-button-owner {
	background-color: #7b1a1e;
	border: none;
}
/*//////////////         TOP TABS       ////////////////////*/
QPushButton#bar-button {
	background-color: #7b1a1e;
	
	text-align: left;
	color: #333333;
	
	border: 1px solid #ce2026;
	border-left: none;
	
	padding: 13px;
	padding-right: 40px;
	padding-left: 40px;
	
	font-size: 16px;
	
	color: #ffffff;
	font-family: "Segoe UI Semibold";
}
QPushButton#bar-button[order="first"] {
	border-left: 1px solid #ce2026;
}
QPushButton#bar-button:open {
	background-color: #ce2026;
}
#top-tab-bar-owner {
	background-color: #7b1a1e;
	border: none;
	border: 1px solid #ce2026;
}
/*//////////////        SELECT EXPERIMENT      ////////////////////*/
#experiment-list-owner {
	max-width: 300px;
	min-width: 300px;
}
*[widget-type="left-grey"],
#experiment-list-owner > *[widget-type="left-grey"] {
	border: none;
	background-color: #f8f9fb;
	border-right: 1px solid #d3dae2;
}
#experiment-list-owner > QListView#experiment-list {
	border: 1px solid #d3dae2;
	outline: 0;
	font-size: 16px;
	padding-top: 7px;
}
#experiment-list-owner > QListView#experiment-list::item {
	border: 0px;
	padding: 9px;
	padding-left: 20px;
}
#experiment-list-owner > QListView#experiment-list::item:selected {
	background: #e9f6fc;
	border-top: 1px solid #cce7f2;
	border-bottom: 1px solid #cce7f2;
	color: #000000;
}
#select-category {
	border-color: #84878e;
}
#search-experiments-spacing {
	min-width: 19px;
	max-width: 19px;
	border: none;
	margin-right: 1px;
	background-color: #f8f9fb;
}
#search-experiments-clear {
	min-height: 30px;
	border: none;
	border-bottom: 1px solid #2c81de;
	background-color: #f8f9fb;
	margin-bottom: 20px;
	margin-top: 20px;
}
#search-experiments-label {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: none;
	border-bottom: 1px solid #2c81de;
	background-color: #f8f9fb;
}
#search-experiments {
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #2c81de;
	background-color: #f8f9fb;
	
	qproperty-placeholderText: "Search";
}
/*//////////////     EXPERIMENT DESCRIPTION    ////////////////////*/
#experiment-description-owner {
	border: none;
	border-right: 1px solid #e7e7e7;
}
#experiment-description-spacing-top {
	min-height: 100px;
	max-height: 100px;
}
#experiment-description-spacing-bottom {
	min-height: 50px;
	max-height: 50px;
}
#experiment-description-icon {
	image-position: left center;
	
	min-height: 180px;
	
	qproperty-text: "";
	
	padding-left: 60px;
	margin-right: 1px;
}
#experiment-description-name {
	font-family: "Esphimere Light";
	font-size: 32px;
	color: #ce2026;
	
	border: none;
	
	padding-left: 60px;
	margin-right: 1px;
	
	qproperty-wordWrap: true;
}
#experiment-description-text {
	padding-left: 60px;
	margin-top: 10px;
	margin-right: 1px;
	
	qproperty-wordWrap: true;
	
	color: #677284;
	font-size: 16px;
}
#experiment-description-text-scroll {
	border: none;
	margin-right: 1px;
	padding-right: 15px;
}
/*//////////////      EXPERIMENT PARAMETERS     ////////////////////*/
#experiment-parameters-owner {
	max-width: 666px;
	min-width: 666px;
}
#hw-list-combo {
	min-width: 150px;
}
#experiment-params-scroll-area {
	border: none;
}
#experiment-params-comment {
	border: none;
	color: #677284;
	font-size: 16px;
	margin-left: 25px;
	margin-right: 15px;
	/*margin-top: 16px;*/
}
#experiment-params-comment[comment-placement="left"] {
	qproperty-alignment: 'AlignRight | AlignVCenter';
	margin-right: 0px;
}
#experiment-params-comment[comment-placement="right"] {
	margin-left: 7px;
	margin-right: 40px;
}
#experiment-params-comment[comment-placement="center"] {
	qproperty-alignment: 'AlignHCenter | AlignVCenter';
	margin-left: 0px;
	margin-right: 0px;
}
#experiment-params-spacing-top {
	min-height: 0px;
	max-height: 0px;
}
#experiment-params-spacing-bottom {
	min-height: 30px;
	max-height: 30px;
}
#experiment-params-spacing-left,
#experiment-params-spacing-right {
	min-width: 50px;
	max-width: 50px;
}
/*"experiment-params-widget", "low-margin"
"experiment-params-widget", "vertical-spacing"*/
* [experiment-params-widget="low-margin"] {
	margin-top: 4px;
}
QLabel[experiment-params-widget="low-margin"] {
	margin-top: 2px;
}
* [experiment-params-widget="vertical-spacing"] {
	min-height: 14px;
	max-height: 14px;
}
#primary-button {
	font-family: "Segoe UI Semibold";
	color: #ffffff;
	border: none;
	min-height: 40px;
	margin: 10px;
	margin-left: 0px;
	padding-left: 25px;
	padding-right: 25px;
	
	background-color: #2c81dc;
}
#primary-button:hover {
	background-color: #1d64b2;
}
#primary-button:pressed  {
	background-color: #2c81dc;
}
#primary-button[button-type="experiment-start-pbt"] {

}
/*//////////////     BUILD AN EXPERIMENT TAB   ////////////////////*/
#node-list-owner {
	max-width: 300px;
	min-width: 300px;
	border-top: 1px solid #ce2026;
	margin-top: -1px;
}
#node-list-owner > *[widget-type="left-grey"] {
	border: none;
	background-color: #f8f9fb;
	border-right: 1px solid #d3dae2;
}
#experiment-builder-placeholder,
#experiment-builder-owner {
	border: none;
	border-right: 1px solid #cbe6f1;
	background-color: #e9f6fc;
}
#buider-parameters-owner {
	border: none;
	margin-right: 15px;
}
#node-params-owner {
	max-width: 366px;
	min-width: 366px;
}
/*//////////////          ELEMENTS LIST        ////////////////////*/
#elements-list-holder {
	border: none;
	background-color: #f8f9fb;
}
#node-list-scroll-area {
	border: none;
	margin-right: 1px;
	
	border-top: 1px solid #d3dae2;
}
#elements-list-descr-label {
	background-color: #f8f9fb;
	color: #3a5159;
	font-size: 12px;
	qproperty-alignment: "AlignHCenter | AlignVCenter";
}
#element-builder {
	qproperty-alignment: "AlignHCenter | AlignVCenter";
	
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	
	border: 1px solid #9ecfd3;
}
#hover-element-overlay {
	border: 1px solid #9ecfd3;
	margin: 0px;
	padding: 0px;
}
#hover-element-overlay-name {
	qproperty-alignment: "AlignHCenter | AlignVCenter";
	border: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}
#hover-element-overlay-icon {
	qproperty-alignment: "AlignHCenter | AlignVCenter";
	border: none;
	min-height: 100px;
	max-height: 100px;
	margin: 0px;
	padding: 0px;
}
/*//////////////       EXPERIMENT BUILDER      ////////////////////*/
#node-builder-label {
	qproperty-alignment: "AlignHCenter | AlignVCenter";
}
#builder-top-button-owner {
	border: none;
	background-color: #00000000;
	
	margin-top: 13px;
	margin-bottom: 13px;
	margin-right: 15px;
	margin-left: 30px;
}
#exp-builder-top-buttons-replacement {
	background-color: #00000000;
	border: none;
	
	min-width: 100px;
	max-width: 100px;
}
#builder-duplicate-button {
	qproperty-icon: url(:/GUI/Resources/builder-duplicate.png);
}
#builder-delete-button {
	qproperty-icon: url(:/GUI/Resources/builder-delete.png);
}
#builder-select-all-button {
	qproperty-icon: url(:/GUI/Resources/builder-select-all.png);
}
#builder-duplicate-button,
#builder-select-all-button,
#builder-delete-button {
	border: 2px solid #00000000;
	background-color: #00000000;
	
	margin-right: 5px;
	margin-left: 5px;
	padding: 7px;
	
	qproperty-iconSize: 21px 21px;
}
#builder-duplicate-button:hover,
#builder-select-all-button:hover,
#builder-delete-button:hover {
	border-bottom: 2px solid #9ecfd3;
}
#builder-save-file-button {
	qproperty-icon: url(:/GUI/Resources/builder-save-file.png);
}
#builder-open-file-button {
	qproperty-icon: url(:/GUI/Resources/builder-open-file.png);
}
#builder-save-file-button,
#builder-open-file-button {
	border: none;
	background-color: #00000000;
	
	qproperty-iconSize: 40px 40px;
}
#exp-builder-right-buttons-replacement {
	margin: 1px;
	min-width: 68px;
	max-width: 68px;
	background-color: #e9f6fc;
}
#exp-builder-left-spacer {
	margin: 1px;
	min-width: 50px;
	max-width: 50px;
	background-color: #e9f6fc;
}
#exp-builder-bottom-spacer {
	margin: 1px;
	min-height: 15px;
	max-height: 15px;
	background-color: #e9f6fc;
}
#exp-builder-scroll-area {
	background-color: #e9f6fc;
	border: 1px solid #9ecfd3;
	border-bottom: none;
	margin: 0px;
}
#exp-builder-global-multiplier {
	background-color: #ffffff;
	border: 1px solid #9ecfd3;
	margin: 0px;
	font-size: 22px;
	padding-bottom: 4px;
}
#build-exp-holder {
	background-color: #e9f6fc;
	border: none;
	margin: 1px;
	margin-top: 9px;
	margin-left: 9px;
	margin-right: 9px;
}
#select-element-overlay-icon {
	border: none;
	background-color: #00000000;
	
	qproperty-pixmap: url(:/GUI/Resources/builder-element-selected.png);
	qproperty-alignment: "AlignRight | AlignTop";
	
	margin: 0px;
	padding: 0px;
	padding-right: 5px;
	padding-top: 5px;
}
#select-element-overlay-name {
	border: none;
	background-color: #00000000;
	
	color: #ffffff;
	font-size: 12px;
	
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	
	qproperty-wordWrap: true;
}
#select-element-overlay {
	border: 3px solid #54c08a;
	border-radius: 3px;
	
	background-color: #e02f3c41;
	qproperty-frameShadow: Sunken;	
}
#node-builder-element {
	border: none;
	background-color: #ffffff;
	margin: 16px;
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
}
#node-builder-container {
	border: 1px solid #9ecfd3;
	/*background-color: #c3dff5;*/
	background-color: #00000000;
	margin-bottom: 97px;
	padding: -1px;
	padding-bottom: 0px;
}
#node-builder-label {
	min-width: 100px;
	max-width: 100px;
	min-height: 75px;
	max-height: 75px;
	
	background-color: #ffffff;
	border: 1px solid #9ecfd3;
	border-bottom: none;
	
	margin: 0px;
}
#node-builder-multiplier-single {
	min-width: 92px;
	max-width: 92px;
	min-height: 25px;
	max-height: 25px;

	background-color: #ffffff;
	border: 1px solid #9ecfd3;
	
	margin: 0px;
	padding: 0px;
	
	padding-left: 8px;
}
#node-builder-multiplier-container {
	border: none;
	border-top: 1px solid #9ecfd3;
	
	font-size: 18px;
	padding-left: 8px;
	padding-bottom: 4px;
	margin: 0px;
	margin-left: 1px;
	
	max-width: 122px;
	max-height: 30px;
}
#custom-exp-name-dialog {
	border: 1px solid #7b1a1e;
	min-width: 500px;
	max-width: 500px;
}
#custom-exp-agreement-dialog {
	border: 1px solid #7b1a1e;
	min-width: 600px;
	max-width: 600px;
}
/*//////////////         NEW DATA WINDOW       ////////////////////*/
#build-experiment-owner,
#new-data-window-owner {
	border: none;
	background-color: #ce2026;
}
#plot-tab {
}
#plot-tab::pane {
	/*border-top: 1px solid #ce2026;*/
}
#builder-tab {
	border: none;
	background-color: #ce2026;
	border-bottom: 1px solid #ce2026;
}
#plot-tab QTabBar {
	background-color: #ce2026;
}
#builder-tab-frame {
	border: none;
	background-color: #ce2026;
	
	padding-left: 25px;
	padding-bottom: -1px;
}
#plot-tab::tab-bar {
	left: 25px;
}
#builder-tab::tab {
	margin-bottom: 1px;
}
#builder-tab::tab,
#plot-tab QTabBar::tab {
	padding-top: 0px;
	padding-right: 15px;
	padding-left: 20px;
	margin-top: 10px;
	
	background-color: #ffbec0;
	
	border-left: 1px solid #ce2026;
	border-bottom: 1px solid #ce2026;
	
	color: #7b1a1e;
	
	min-height: 21px;
	max-height: 21px;
}
#builder-tab::tab:selected,
#plot-tab QTabBar::tab:selected {
    color: #000000;
	background-color: #ffffff;
}
#builder-tab::tab:last,
#builder-tab::tab:only-one,
#plot-tab QTabBar::tab:last,
#plot-tab QTabBar::tab:only-one {
	color: #ce2026;
	
	padding-bottom: 6px;
	padding-top: 10px;
	padding-left: 13px;
	padding-right: 1px;
	/*margin-right: -20px;*/
	
	max-width: 21px;
	min-width: 21px;
	
	background-color: #ffbec0;
}
#builder-tab::tab:last:selected,
#builder-tab::tab:only-one,
#plot-tab QTabBar::tab:last:selected,
#plot-tab QTabBar::tab:only-one {
	/*padding-bottom: 10px;*/
}
#close-document-pbt {
	qproperty-text: "";
	border: none;
	
	image: url(:/GUI/Resources/tab-close.png);
	
	min-height: 15px;
	max-height: 15px;
	min-width: 15px;
	max-width: 15px;
	
	margin-top: 10px;
	margin-right: 10px;
}
#close-document-pbt:hover {
	image: url(:/GUI/Resources/tab-close-hover.png);
}
#close-document-pbt:open {
	image: url(:/GUI/Resources/tab-close.png);
}
#new-data-tab-top-spacing {
	min-height: 35px;
	max-height: 35px;
	border: node;
}
#new-data-tab-left-spacing {
	min-width: 15px;
	max-width: 15px;
	border: node;
}
#settings-vertical-spacing {
	min-height: 30px;
}
/*//////////////         NOTES DIALOG       ////////////////////*/
#experimental-notes-scroll-area {
	margin: 1px;
	border: none;
}
#notes-dialog {
	min-height: 950px;
	/*max-height: 600px;*/
	min-width: 660px;
	/*max-width: 550px;*/
	border: 1px solid #7b1a1e;
}
#experimental-notes-text-edit {
	min-height: 150px;
}
#notes-dialog-right-spacing {
	min-width: 25px;
	max-width: 25px;
}
#notes-dialog-bottom-spacing {
	min-height: 10px;
	max-height: 10px;
	margin: 1px;
}
#notes-dialog QRadioButton {
	margin-left: 30px;
}
#notes-dialog-right-comment {
	border: none;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 17px;
	qproperty-alignment: 'AlignRight | AlignVCenter';
}
#notes-dialog QRadioButton,
#notes-dialog QLabel,
#notes-dialog QComboBox,
#notes-dialog QLineEdit {
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 30px;
	max-height: 30px;
}
#notes-dialog #heading-label {
	margin-top: 15px;
}
/*//////////////       CURVE PARAMS DIALOG     ////////////////////*/
#curve-params-dialog {
	min-height: 670px;
	max-height: 670px;
	min-width: 475px;
	max-width: 475px;
	border: 1px solid #7b1a1e;
}
#curve-params-dialog-horizontal-spacing {
	min-width: 25px;
	max-width: 25px;
	margin: 2px;
}
#curve-params-dialog-vertical-spacing {
	min-height: 15px;
	max-height: 15px;
	margin: 2px;
}
#curve-params-data-set-list {
    border: 1px solid #c6ccd2;
	background: #ffffff;
	outline: 0;
}
#curve-params-data-set-list::item {
	border: none;
	padding: 5px;
	padding-left: 10px;
}
#curve-params-data-set-list::item:selected {
	background-color: #ffbec0;
	color: #7b1a1e;
}
QColorDialog {
	border: 1px solid #7b1a1e;
}
#color-dialog-top-spacing {
	min-height: 50px;
	min-width: 50px;
	border: 1px solid #7b1a1e;
}
QColorPicker {
	min-height: 335px;
	min-width: 335px;
}
#curve-params-adjusting-owner > QAbstractSpinBox::up-button {
	margin-right: 14px;
}
#curve-params-adjusting-owner > QAbstractSpinBox::down-button {
	margin-right: 13px;
}
#curve-params-adjusting-owner > QPushButton {
	border: 1px solid #c6ccd2;
	min-height: 30px;
	margin-top: 20px;
	padding-left: 15px;
}
#curve-params-adjusting-owner > QwtPlot {
	margin: 0px;
	margin-left: 40px;
	margin-top: 20px;
	border-left: 1px solid #c6ccd2;
	border-bottom: 1px solid #c6ccd2;
	min-height: 135px;
	max-height: 135px;
	min-width: 135px;
	max-width: 135px;
}
#curve-params-adjusting-owner > QLabel {
	margin-left: 0px;
	padding-left: 0px;
}
/*//////////////       PLOT TITLE DIALOG     ////////////////////*/
#plot-title-dialog {
	border: 1px solid #7b1a1e;
	min-width: 500px;
}
/*//////////////       AXIS PARAMS DIALOG     ////////////////////*/
#axis-params-dialog {
	/*min-height: 400px;
	max-height: 400px;*/
	border: 1px solid #7b1a1e;
}
#axis-params-dialog > QCheckBox {
	border: none;
	min-height: 30px;
	margin-top: 20px;
	color: #677284;
	font-size: 16px;
}
/*//////////////         SELECT HARDWARE       ////////////////////*/
#heading-label {
	font-family: "Esphimere";
	font-size: 24px;
	color: #ce2026;
	border: 1px solid #ffffff;
	/*background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 cyan, stop:1 blue);*/
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-left: 20px;
}
#regular-comment-label {
	font-family: "Segoe UI Semibold";
	color: #4d565f;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}

#secondary-button {
	font-family: "Segoe UI Semibold";
	color: #2c81dc;
	border: 3px solid #bee1e1;
	min-height: 40px;
	min-width: 100px;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#secondary-button:hover {
	border-color: #53b0fe;
}
#secondary-button:pressed  {
	border-color: #bee1e1;
}

/*//////////////         LOG       ////////////////////*/

QTextEdit {
	border: 1px solid #c6ccd2;
	min-height: 30px;
	margin-top: 20px;
	padding-left: 15px;
	margin-left: 30px;
}
QScrollBar:vertical {
     border: none;
     width: 10px;
     margin: 0px;
	 background: #4fb8cbdc;
}
QScrollBar::handle:vertical {
	background: #b8cbdc;
	min-height: 20px;
}
QScrollBar::add-line:vertical {
	border: none;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	border: none;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	border: 2px solid grey;
	width: 3px;
	height: 3px;
	background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}


QScrollBar:horizontal {
     border: none;
     height: 10px;
     margin: 0px;
}
QScrollBar::handle:horizontal {
	background: #b8cbdc;
	min-width: 20px;
}
QScrollBar::add-line:horizontal {
	border: none;
	height: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
	border: none;
	height: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
	border: 2px solid grey;
	width: 3px;
	height: 3px;
	background: white;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
	background: none;
}
/*//////////////         CONTROL BUTTONS       ////////////////////*/
#control-button-red,
#control-button-blue {
	border: none;
	min-height: 65px;
	margin-top: 0px;
	font-size: 22px;
}
#control-button-blue {
	border: 2px solid #d4e7ee;
	background-color: #eef9fb;
}
#control-button-blue:hover {
	border-color: #82b6e6;
}
#control-button-blue:pressed {
	border-color: #d4e7ee;
}
#control-button-red {
	border: 2px solid #e8cecf;
	background-color: #f7edec;
}
#control-button-red:hover {
	border-color: #d95b5f;
}
#control-button-red:pressed {
	border-color: #e8cecf;
}
/*//////////////         PLOT       ////////////////////*/
#plot-canvas-overlay {
	border: none;
	background-color: #00000000;
}
#plot-gridlines-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/show-gridline.png);
	qproperty-iconSize: 38px 38px;
	
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	
	margin-bottom: 3px;
	margin-top: 3px;
}
#plot-zoom-to-selection-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/zoom-to-selection.png);
	qproperty-iconSize: 38px 38px;
	
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	
	margin-bottom: 3px;
	margin-top: 3px;
}
#plot-pan-view-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/pan-view.png);
	qproperty-iconSize: 38px 38px;
	
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	
	margin-bottom: 3px;
	margin-top: 3px;
}
#plot-reset-zoom-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/reset-zoom.png);
	qproperty-iconSize: 38px 38px;
	
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	
	margin-bottom: 3px;
	margin-top: 3px;
}
#plot-zoom-in-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/zoom-in.png);
	qproperty-iconSize: 44px 44px;
	
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
}
#plot-zoom-out-button {
	border: none;
	background-color: #00000000;
	
	qproperty-icon: url(:/GUI/Resources/zoom-out.png);
	qproperty-iconSize: 44px 44px;
	
	margin: 0px;
	margin-right: 10px;
	margin-bottom: 100px;
	padding: 0px;
}
QwtPlot {
	margin: 30px;
	margin-top: 0px;
	margin-right: 0px;
	border: none;
	background-color: #ffffff;
}
QwtPlotCanvas {
    border: none;
    background-color: #ffffff;
}
QwtScaleWidget {
    color: #4d565f;
	font-family: "Segoe UI Semibold";
}
/*
QwtText {
    color: #000000;
	font-family: "Segoe UI Semibold";
	font-size: 20px;
}
*/
/*
QwtLegend {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background: brown;
}
QwtLegendItem {
    color: palette(light);
}
*/
/*
QwtPlot {
	margin: 30px;
	
	border: 1px solid #c8c8c8;
	background-color: #f4f4f4;
	
	padding: 10px;
}

QwtPlotCanvas {
	border: none;
    background-color: #f4f4f4;
}

QwtPlotGLCanvas {
	border: none;
    background-color: #f4f4f4;
}

QwtScaleWidget {
    color: #666666;
}

QwtTextLabel#QwtPlotTitle {
    color: #000000;
}

QwtTextLabel#QwtPlotFooter {
    color: #000000;
}

QwtLegend {
	border: none;
    padding: 2px;
    background: #91A3A3;
}

QwtLegendLabel {
    color: #000000;
}
*/
/*//////////////////////////////////*/