<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Squidstat</Name>
    <Version>0.1.0</Version>
    <Title>Squidstat Installer</Title>
    <Publisher>Admiral Instruments</Publisher>
    <StartMenuDir>Admiral Instruments</StartMenuDir>
    <TargetDir>@HomeDir@/Admiral Instruments/Squidstat</TargetDir>
</Installer>
