* {
	font-family: "Calibri";
}

QMainWindow {
	min-width: 910px;
	max-width: 910px;
	min-height: 660px;
	max-height: 660px;
}

#central-widget {
	padding-top: 20px;
}
/*//////////////         BAR WIDGET       ////////////////////*/

#bar-widget {
	background-color: #34495E;
	padding-top: 20px;
}

#cockpit-owner {
	margin-top: 0px;
	background-color: #dcdcdc;
}

QPushButton#bar-button {
	background-color: #34495E;
	
	text-align: left;
	color: #91A3A3;
	
	border: none;
	/*
	border-right: 1px solid #191919;
	border-left: 1px solid #191919;
	border-top: 0px;
	border-bottom:  1px solid #191919;
	*/
	
	padding: 13px;
	padding-right: 20px;
	padding-left: 40px;
	
	font-size: 12pt;
}

QPushButton#bar-button:open {
	background-color: #233342;
	color: #f5f5f5;
}

#logo {
	padding: 25px;
	padding-left: 50px;
	/*min-height: 45px;*/
	background: #2DCC70;
	
	color: #f5f5f5;
	
	font-size: 26px;
}
/*//////////////////////////////////*/

/*//////////////         COCKPIT TOP WIDGET       ////////////////////*/

#topPanelWidget {
	background-color: #ffffff;
	
	min-height: 81px;
	max-height: 81px;
	
	border-bottom: 2px solid #f0f0f0;
}

#channelLabel {
	color: #3D414A;
	font-size: 36px;
	
	/*padding: 19px;*/
	padding-left: 50px;
}

#settingsCommentLabel {
	color: #a0a0a0;
	font-weight: bold;
	
	padding-left: 100px;
}

#hideExpandSettingsButton {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
	font-weight: bold;
}
#hideExpandSettingsButton:hover {
	background-color: #2DCC70;
	border: 1px solid #2DCC70;
	color: #ffffff;
}

#hideExpandSettingsButton:pressed  {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	background-color: #2DCC70;
}

/*//////////////////////////////////*/

/*//////////////         COCKPIT BOTTOM WIDGET       ////////////////////*/

#realTimeValues, #runControl {
	color: #3D414A;
	font-weight: bold;
	font-size: 16px;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	margin: 20px;
	
	
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	background-color: #ffffff;
}

#realTimeValues {
	margin-right: 10px;
}

#runControl {
	margin-left: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

#realTimeValues::title, #runControl::title {
	padding-top: 10px;
	padding-left: 10px;
	
	border-top: 2px solid #f0f0f0;
	border-left: 2px solid #f0f0f0;
	border-top-left-radius: 5px;
}

#realTimeValues > *, #runControl > * {
	color: #a0a0a0;
	font-size: 14px;
}

#realTimeValues > QLineEdit {
	color: #3D414A;
	
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	background: #ffffff;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #2DCC70;
}


#realTimeValues > QLabel {
	margin-left: 2px;
}

#startStopButton {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	margin: 20px;
	padding: 5px;
	max-width: 100px;
}
#startStopButton:hover {
	background-color: #2DCC70;
	border: 1px solid #2DCC70;
	color: #ffffff;
}

#startStopButton:pressed  {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	background-color: #2DCC70;
}

/*//////////////////////////////////*/

/*//////////////         COCKPIT SETTINGS WIDGET       ////////////////////*/

#settingsPanelWidget {
	border-bottom: 2px solid #f0f0f0;
}

#selectChannel, #operatingConditions,
#commonSettings, #advancedSettings {
	color: #3D414A;
	font-weight: bold;
	font-size: 16px;
	
	padding-top: 35px;
	padding-bottom: 7px;
	
	border-radius: 5px;
	
	margin: 20px;
	
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	background-color: #ffffff;
}
#selectChannel, #operatingConditions {
	margin-bottom: 0px;
}

#selectChannel, #commonSettings {
	margin-right: 0px;
}


#selectChannel::title, #operatingConditions::title,
#commonSettings::title, #advancedSettings::title {
	subcontrol-origin: margin;

	margin-top: 20px;
	margin-left: 20px;
	
	border-top-left-radius: 5px;
	
	padding-top: 10px;
	padding-left: 10px;
	
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-top-left-radius: 5px;
}

#selectChannel > *, #operatingConditions > *,
#commonSettings > *, #advancedSettings > * {
	color: #a0a0a0;
	font-size: 14px;
}

#operatingConditions > QComboBox,
#selectChannel > QComboBox {
	background: #ffffff;
	color: #3D414A;
	
	border: 1px solid #91A3A3;
	border-radius: 3px;
	
	padding: 4px 1px 4px 25px;
}

#operatingConditions > QComboBox::drop-down,
#selectChannel > QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;

	border: none;
}

#operatingConditions > QComboBox::down-arrow,
#selectChannel > QComboBox::down-arrow {
    image: url(:/GUI/_res/combobox-dropdown.png);
	
	margin-right: 25px;
}

#operatingConditionsComboList,
#currentRangeComboList,
#selectChannelComboList {
    border: 1px solid #91A3A3;
	color: #3D414A;
	background: #ffffff;
	outline: 0;
}

#operatingConditionsComboList::item,
#currentRangeComboList::item,
#selectChannelComboList::item {
	border: 0px;
	padding: 5px;
	padding-left: 20px;
	color: #3D414A;
}

#operatingConditionsComboList::item:selected,
#currentRangeComboList::item:selected,
#selectChannelComboList::item:selected {
	margin-left: 1px;
	border-left: 5px solid #2DCC70;
	
	padding-left: 14px;
}

#selectChannel > QLabel, #operatingConditions > QLabel,
#commonSettings > QLabel, #advancedSettings > QLabel {
	margin-left: 2px;
}


#selectChannel > QLineEdit, #operatingConditions > QLineEdit,
#commonSettings > QLineEdit, #advancedSettings > QLineEdit {
	color: #3D414A;
	
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	background: #ffffff;
	
	padding: 2px;
	margin-right: 7px;
	max-width: 90px;
	max-height: 25px;
	
	selection-background-color: #2DCC70;
}

#commonSettings >  QPushButton,
#advancedSettings > QPushButton {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	
	padding: 5px;
}


#commonSettings > QPushButton:hover,
#advancedSettings > QPushButton:hover {
	background-color: #2DCC70;
	border: 1px solid #2DCC70;
	color: #ffffff;
}


#commonSettings > QPushButton:pressed
#advancedSettings > QPushButton:pressed {
	color: #a0a0a0;
	border: 1px solid #a0a0a0;
	background-color: #2DCC70;
}

#commonSettings > QPushButton:open,
#advancedSettings > QPushButton:open {
	color: #ffffff;
	background-color: #2DCC70;
	border: 1px solid #2DCC70;
}

/*//////////////////////////////////*/

/**/
QwtPlot {
	margin: 20px 20px 0px 20px;
	
	border: 2px solid #f0f0f0;
	background-color: #ffffff;
	border-radius: 5px;
	
	padding: 10px;
}

QwtPlotCanvas {
	border: none;
    background-color: #ffffff;
}

QwtPlotGLCanvas {
	border: none;
    background-color: #ffffff;
}

QwtScaleWidget {
    color: #91A3A3;
}

QwtTextLabel#QwtPlotTitle {
    color: #000000;
}

QwtTextLabel#QwtPlotFooter {
    color: #000000;
}

QwtLegend {
	border: none;
    padding: 2px;
    background: #91A3A3;
}

QwtLegendLabel {
    color: #000000;
}
/*/
QwtPlot
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #657383, stop: 0.4 #8395AA, stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #657383, stop: 1 #8395AA );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8395AA, stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8395AA, stop: 0.4 #657383 stop: 1 #8395AA );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #657383 stop: 1 #7C8DA0 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #657383, stop: 0.25 #7C8DA0 stop: 0.55 #7C8DA0 stop: 1 #657383 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #8FA3B9, stop: 0.25 #7C8DA0 stop: 0.55 #7C8DA0 stop: 1 #8FA3B9 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #8FA3B9 stop: 0.55 #8FA3B9 stop: 1 #7C8DA0 );
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 1,
        stop: 0 #7C8DA0, stop: 0.4 #8395AA stop: 0.55 #8395AA stop: 1 #7C8DA0 );
}

QwtPlotCanvas
{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #616d7e;
}

QwtPlotGLCanvas
{
    border: 1px solid white;
    background-color: #616d7e;
}

QwtScaleWidget
{
    color: white;
}

QwtTextLabel#QwtPlotTitle
{
    color: white;
}

QwtTextLabel#QwtPlotFooter
{
    color: white;
}

QwtLegend
{
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    background: #616d7e;
}

QwtLegendLabel
{
    color: white;
}
 */
 